# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTorch and machine learning model weights (heavy files)
*.pth
*.onnx
*.task
models/*.task
models/*.pth
models/*.onnx
models/

# Environments
.env
.venv
env/
venv/
ENV/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

